<template name="content">
  {{> header}}
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {{#if isReady}}
        <div class="row">
          <div class="col-xs-12">
            {{> filter}}
          </div>
        </div>
        <div>
          <div class="col-xs-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Site content</h3>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Paths</th>
                    <th>Pageviews</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each paths}}
                    <tr>
                      <td>{{name}}</td>
                      <td>{{pageviews}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {{else}}
        <h1 class="text-center">
          Loading...
        </h1>
      {{/if}}
    </div>
  </div>
</template>
