<template name="accounts">
  <div class="accounts-bg"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="jumbotron text-center">
        <img src="images/sputlytics-small-logo.svg" alt="Sputlytics login" width="144" height="144">
        {{#if hasUsers}}
          {{> atForm}}
        {{else}}
          {{> atForm state='signUp'}}
        {{/if}}
        <small>Powered by <a href="https://sputlytics.com" target="_blank">Sputlytics</a></small>
      </div>
    </div>
  </div>
</template>
