<template name="dashboard">
  {{> header}}
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {{#if isReady}}
        <div class="row">
          <div class="col-xs-12">
            {{> filter}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            {{> visitorsChart}}
          </div>
          <div class="col-xs-12 col-md-8">
            {{> pageviewsChart}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {{> topContents}}
          </div>
          <div class="col-xs-12 col-sm-6">
            {{> topTraffics}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            {{> topCountries}}
          </div>
          <div class="col-xs-12 col-sm-3">
            {{> topDevicesType}}
          </div>
          <div class="col-xs-12 col-sm-3">
            {{> topBrowsers}}
          </div>
          <div class="col-xs-12 col-sm-3">
            {{> topOS}}
          </div>
        </div>
      {{else}}
        {{> loading}}
      {{/if}}
    </div>
  </div>
</template>
