<template name="dashboard">
  {{> header}}
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {{#if isReady}}
        <div class="row">
          <div class="col-xs-12">
            {{> filter}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            {{> _visitorsChart}}
          </div>
          <div class="col-xs-12 col-md-8">
            {{> _pageviewsChart}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {{> _topContents}}
          </div>
          <div class="col-xs-12 col-sm-6">
            {{> _topTraffics}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            {{> _topCountries}}
          </div>
          <div class="col-xs-12 col-sm-3">
            {{> _topDevicesType}}
          </div>
          <div class="col-xs-12 col-sm-3">
            {{> _topBrowsers}}
          </div>
          <div class="col-xs-12 col-sm-3">
            {{> _topOS}}
          </div>
        </div>
      {{else}}
        <h1 class="text-center">
          Loading...
        </h1>
      {{/if}}
    </div>
  </div>
</template>
