<template name="topContents">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-list-alt"></i>&nbsp;Top site contents
      </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Page</th>
            <th>Pageviews</th>
          </tr>
        </thead>
        <tbody>
          {{#each pages}}
            <tr>
              <td><a href="{{pageUrl}}" target="_blank">{{name}}</a></td>
              <td>{{pageviews}}</td>
            </tr>
          {{else}}
            <tr class="text-center">
              <td colspan="2">
                <strong>No data in this period</strong>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
