<template name="settings">
  {{> header}}
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-line-chart"></i>&nbsp;Add new domain
            </h3>
          </div>
          <div class="panel-body">
            <form data-add-domain>
              <div class="form-group col-xs-10 col-sm-4">
                <label for="domain" class="control-label">Domain</label>
                <input type="url" class="form-control" id="domain" placeholder="http://mydomain.com">
              </div>
              <div class="form-group col-xs-12">
                <button class="btn btn-success">
                  <i class="fa fa-check-square-o"></i>&nbsp;Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        {{#each domains}}
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-code"></i>&nbsp;Website tracking - {{domain}}
              </h3>
            </div>
            <div class="panel-body">
              <div class="form-group col-xs-12">
                <label class="control-label">To track your website, you must copy and paste the code below into  your website:</label>
                <textarea class="form-control" style="width:620px;height:240px;font-size:13px;" readonly="readonly">
                  {{{trackingCode}}}
                </textarea>
              </div>
              <div class="form-group">
                {{> _btnClipboard id=_id text=trackingCode}}
                <button class="btn btn-danger" data-domain-id="{{_id}}">
                  <i class="fa fa-trash"></i>&nbsp;Delete domain
                </button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
